// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-form {
  padding-bottom: 20px;
}

.new-movie {
  position: fixed;
  right: 5%;
  bottom: 5%;
}