<%= link_to "Back to all users", admin_users_path, class: "btn btn-info btn-fixed-top-right" %>
<div class="function-section center-block">
  <h1 "text-center">Create</h1>
  <%= render 'users/form' %>
</div>